*.elc
.dirstamp
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
doc/version.texi
kixtart-mode.html
kixtart-mode.info
kixtart-mode.pdf
kixtart-mode.t2p
stamp-vti
